@use "@styles/variables" as *;

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  width: 100%;
  height: 4.68rem;
  border-top: 1px solid $c-primary-blue;
  background: $c-primary-blue-dark;

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: $c-sub-gray;
    cursor: pointer;

    &.on {
      color: $c-sub-white;
    }

    & p {
      font-size: 0.75rem;
    }
  }
}
