@use "sass:map";
@use "@styles/variables" as *;

.header {
  padding: rem(24) 0;
  position: relative;

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.43rem;
    position: relative;

    padding: 0 rem(24);
  }

  .page-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
  }

  .btn-side {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;

    .icon-bell {
      position: relative;
      padding: 0;
      color: $c-sub-white;
      &.dot::after {
        content: "";
        display: block;
        position: absolute;
        right: -4px;
        top: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $c-point-orange;
      }
    }
  }

  // 메인
  &--home {
    // height: auto;
    // padding: 0 rem(24);

    .logo {
      width: 6.53rem;
      height: 1.39rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  //랭킹,미션
  &--achive {
    .header-tab {
      display: flex;
      align-items: center;
      gap: rem(8);
      a {
        color: $c-sub-gray;
        font-size: 1.25rem;
        font-weight: 600;
        &.active {
          color: $c-sub-white;
        }
      }
    }
  }
  &--mypage {
    .title {
      font-size: 1.125rem;
      font-weight: 600;
      color: $c-sub-white;
    }
  }

  &--booking,
  &--exercising,
  &--breaktimer,
  &--equipment-detail {
    .btn-side {
      color: $c-sub-gray;
    }
  }

  &--booking,
  &--equipment-detail {
    .header-top {
      justify-content: space-between;
    }
  }
  &--exercising,
  &--breaktimer {
    .header-top {
      justify-content: flex-end;
    }
  }
}
