@use "@styles/variables" as *;

#modal-root {
  width: 100vw;
  // height: 100vh;

  & > div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  div.modal {
    &.full {
      width: 100%;
      height: 100%;
      background-color: $c-primary-blue-dark;
    }
    &.mini {
      // position: absolute;
      height: auto;
      top: auto;
      left: auto;
      right: rem(16);
      bottom: calc(rem(50) + rem(16));
      opacity: 0;
      animation: zoomIn 0.4s ease forwards;

      .circular-timer {
        background-color: $c-primary-blue-dark;
        width: 4.375rem;
        height: 4.375rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        box-shadow: (0 2px 15px rgba(0, 0, 0, 0.25));
        cursor: pointer;
        padding: 0;

        .text-wrap {
          h1 {
            font-size: rem(14);
            font-weight: 500;
          }
          .timer-text {
            font-size: rem(18);
            font-weight: 700;
          }
        }
      }
    }
  }
}
