$c-primary-blue-dark: #293241;
$c-primary-blue-dark-modal: #272c34;
$c-primary-blue-dark-light: #334155;
$c-primary-blue: #3d5a80;
$c-primary-blue-light: #98c1d9;
$c-primary-navy-lightest: #e0fbfc;
$c-point-orange: #ee6c4d;
$c-sub-gray: #9498a0;
$c-sub-white: #ffffff;
