@use "sass:map";
@use "@styles/variables" as *;

.challenge-screen {
  .greeting {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: rem(24);

    .msg {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 140%;
      strong {
        font-weight: 600;
      }
    }
    .icon-motion {
      width: 3.125rem;
      height: 3.125rem;
      aspect-ratio: 1/1;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .mission-wrap,
  .ranking-wrap {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(8);
      span {
        font-size: rem(13);
        font-weight: 500;
        &.time {
          display: flex;
          align-items: center;
          gap: rem(4);
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: rem(8);

      &-item {
        display: flex;
        padding: 1rem rem(24);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.625rem;
        border-radius: rem(8);
        background: $c-primary-blue-dark-light;

        .info {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .title {
            font-size: rem(13);
            font-weight: 600;
            color: $c-sub-white;
          }
          .score {
            font-size: rem(14);
            // font-weight: 300;
            color: $c-primary-blue-light;
          }
        }
        .rank-num {
          width: rem(20);
          height: rem(20);
          background: $c-primary-blue-dark-modal;
          color: $c-sub-white;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: rem(12);
          font-weight: 600;
          &.me {
            background: $c-point-orange;
          }
        }
        .user-info {
          display: flex;
          align-items: center;
          gap: 0.625rem;

          .profile-thumb {
            width: 1.5305rem;
            height: 1.5305rem;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid $c-sub-gray;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .name {
            font-size: rem(13);
            font-weight: 600;
          }
        }
        .total-score {
          font-size: rem(14);
        }
      }

      .ranking-wrap-list-item {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: rem(8);
        &:first-of-type {
          background: $c-primary-blue;
        }
      }
      .progress-bar {
        position: relative;
        width: 100%;
        .progress {
          height: rem(20);
          border-radius: rem(20);
          background-color: $c-primary-blue;
          & .MuiLinearProgress-bar {
            background-color: $c-point-orange;
          }
        }
        .num-count {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: rem(12);
          color: $c-sub-white;
        }
      }
    }
  }
}
