@use "@styles/variables" as *;

// 기구리스트
.equipmentDetail-page {
  position: relative;
  height: 100vh;
  overflow: hidden;

  section {
    margin-bottom: rem(24);
    input[type="text"] {
      background-color: $c-primary-blue-dark-light;
    }
    input[type="text"]::placeholder {
      color: $c-sub-white;
    }
    .label-title {
      font-size: 0.8125rem;
      font-weight: 500;
      margin-bottom: rem(8);
    }

    .box-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: rem(8);

      .box {
        width: 100%;
        background-color: $c-primary-blue-dark-light;
        border-radius: rem(8);
        padding: rem(16);
        display: flex;
        flex-direction: column;
        gap: rem(8);

        .equipment {
          padding: 0;
          grid-template-columns: auto 1fr auto;
          .img {
            width: rem(40);
            height: rem(40);
            aspect-ratio: 1/1;
            border-radius: rem(8);
            background-color: $c-primary-blue-dark;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .title {
            .name {
              font-weight: 600;
            }
          }
          .btn-delete {
            display: flex;
            align-items: center;
            gap: rem(4);
            color: $c-primary-blue-light;
            font-size: 0.8125rem;
            padding: 0;
          }
        }
        .count-wrap {
          display: grid;
          grid-template-columns: 50% 50%;
          gap: rem(8);
          justify-content: center;
          .count {
            border-radius: rem(8);
            padding: rem(12) rem(8);
            background-color: $c-primary-blue-dark-modal;
            display: flex;
            flex-direction: column;
            gap: rem(4);
            .title {
              font-size: 0.875rem;
              text-align: center;
              font-weight: 400;
            }
            .controller-wrap {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: rem(4);

              padding: 0;
              .btn {
                font-size: 0.8125rem;

                &.btn-icon {
                  background-color: transparent;
                  border-radius: 0.375rem;
                  padding: rem(4);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 1.875rem;
                  height: 1.875rem;
                }
                &:disabled {
                  opacity: 0.4;
                }
              }
              .count-num {
                font-size: rem(20);
                font-weight: 600;
                text-align: center;
                color: $c-point-orange;
              }
            }
          }
        }
      }
    }
  }
}
