@use "@styles/variables" as *;

// 기구리스트
.equipmentList-page {
  position: relative;
  height: 100vh;
  overflow: hidden;

  section {
    padding: 0 rem(24);

    .equipment-wrap {
      // margin-top: 1.8rem;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: rem(13);
        margin-bottom: rem(16);

        .total-select,
        .auto-suggest,
        .btn-refresh {
          display: flex;
          align-items: center;
          gap: rem(4);
          color: $c-sub-white;
          font-weight: 500;
        }

        .total-select {
          margin-right: auto;
        }
      }

      li {
        margin-bottom: rem(4);
        & > .equipment {
          border-radius: 0.4rem;
          cursor: pointer;

          &.selected {
            background-color: $c-primary-blue-dark-light;
          }

          .img {
            display: flex;
            width: rem(48);
            aspect-ratio: 1/1;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 0.4rem;
            overflow: hidden;
            // padding: rem(4);
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
