@use "@styles/variables" as *;

// 기구리스트
.equipmentList-page {
  position: relative;
  height: 100vh;
  overflow: hidden;

  section {
    padding: 0 1.5rem;

    .search-bar {
      position: relative;

      input[type="search"] {
        background-color: $c-primary-blue-dark-light;
      }
      .btn-search {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $c-sub-white;
        padding: 0.5rem 1rem;
        background-color: $c-primary-blue-dark-light;
        border-radius: 0.5rem;
      }
    }

    .equipment-wrap {
      margin-top: 1.8rem;

      .top {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        margin-bottom: 1rem;

        .total-select,
        .auto-suggest {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          color: $c-sub-white;
          font-weight: 500;
        }

        .total-select {
          margin-right: auto;
        }

        .auto-suggest {
          margin-left: auto;
        }
      }

      li {
        border-radius: 0.4rem;
        cursor: pointer;

        &.selected {
          background-color: $c-primary-blue-dark-light;
        }
      }
    }
  }

  .category-wrap {
    padding: 0 1.5rem;
    margin-top: 1rem;
    height: 2rem;
    display: flex;
    overflow-x: scroll;

    button {
      flex: 0 0 auto;
      height: 2rem;
      padding: 0.5rem;
      color: $c-sub-white;
      background-color: $c-primary-blue-dark-light;
      border-radius: 0.5rem;
      font-size: 0.75rem;
      display: flex;
      align-items: center;

      & + button {
        margin-left: 0.5rem;
      }
      &.active {
        background-color: $c-primary-blue;
      }
    }
  }
}
