@use "sass:map";
@use "@styles/variables" as *;

#gyms {
  .category-wrap {
    padding: 0;
  }

  .gyms-list {
    li {
      border-radius: 0.4rem;
      cursor: pointer;

      &.selected {
        background-color: $c-primary-blue-dark-light;
      }
    }
  }
}
.gyms-wrap {
  margin-top: 1.8rem;
  .gyms {
    padding: 0.5em;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 1rem;

    .thumb {
      display: flex;
      width: 4rem;
      height: 4rem;
      padding: 0.5rem;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      color: $c-sub-gray;
      background-color: #272c34;
      border-radius: 0.4rem;
    }

    .info {
      .title {
        gap: 0.25rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }

      .name {
        font-size: 1rem;
        font-weight: 600;
      }

      .badge {
        &.busy {
          background-color: $c-point-orange;
          color: $c-sub-white;
        }
        &.normal {
          background-color: $c-primary-blue;
          color: $c-sub-white;
        }
        &.free {
          color: $c-primary-blue;
          background-color: $c-primary-navy-lightest;
        }
      }

      .address {
        font-size: 0.75rem;
        font-weight: 400;
        color: $c-sub-gray;
        word-break: keep-all;
        margin-top: 0.25rem;
        line-height: 140%;
      }
    }

    .icon-drag {
      width: 1.125rem;
      height: 1.125rem;
      aspect-ratio: 1/1;
    }
  }
}
