@use "sass:map";
@use "@styles/variables" as *;

// $header-height: ;

.home-page {
  height: 100%;

  .content-scroll {
    padding-bottom: 4.68rem;
  }
  header {
    height: auto;
    padding: 0 map.get($spacing, 6);

    .logo {
      width: 6.53rem;
      height: 1.39rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .greeting {
    font-size: 1.12rem;
    margin: map.get($spacing, 6) 0;
    line-height: 1.57rem;
    font-weight: 500;
  }

  .container {
    padding: 0 map.get($spacing, 6) calc(4.68rem + map.get($spacing, 6));
  }
  section {
    li.routine {
      display: grid;
      grid-template-columns: 2rem 1fr;
      column-gap: 1.5rem;
      align-items: center;
      height: 4.75rem;

      border-radius: 0.5rem;
      background-color: $c-primary-blue-dark-light;
      padding: 1rem 1.5rem;
      color: $c-sub-white;
      cursor: pointer;

      .icon {
        width: 2rem;
        height: 2rem;
        color: $c-primary-navy-lightest;
      }

      .info {
        .title {
          font-size: 1.1rem;
          font-weight: 600;
        }

        .detail {
          margin-top: 0.25rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;

          span {
            font-size: 0.81rem;
            font-weight: 500;
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &:not(:last-child)::after {
              content: "";
              display: inline-block;
              width: 0.25rem;
              height: 0.25rem;
              border-radius: 50%;
              background-color: $c-sub-white;
              opacity: 0.5;
            }
          }
        }
      }
      & + li.routine {
        margin-top: 0.5rem;
      }
    }
  }
  .btn-wrap {
    // bottom: calc(4.68rem + 1.5rem);
    bottom: 0;
    padding: 0 1.5rem 6.18rem;
  }
}
