@use "sass:map";
@use "@styles/variables" as *;

// $header-height: ;

.home-page {
  height: 100%;

  .content-scroll {
    padding-bottom: 4.68rem;
  }

  .greeting {
    font-size: 1.12rem;
    margin: 0 0 rem(24);
    line-height: 1.57rem;
    font-weight: 500;
    padding: 0 rem(24);
  }

  .container {
    padding: 0 rem(24) calc(4.68rem + rem(24));
  }
  section {
    li {
      margin-bottom: rem(8);
      .routine {
        display: grid;
        grid-template-columns: rem(32) 1fr;
        column-gap: rem(24);
        align-items: center;
        width: 100%;
        min-height: 4.75rem;

        border-radius: rem(8);
        background-color: $c-primary-blue-dark-light;
        padding: rem(16) rem(24);
        color: $c-sub-white;
        cursor: pointer;

        .icon {
          width: rem(32);
          height: rem(32);
          color: $c-primary-navy-lightest;
        }

        .info {
          .title {
            font-size: 1rem;
            font-weight: 600;
            line-height: rem(24);

            display: inline-block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            /* 여러 줄 자르기 추가 스타일 */
            white-space: normal;
            line-height: 1.4;
            max-height: 2.8em;
            text-align: left;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          .detail {
            margin-top: rem(4);
            display: flex;
            align-items: center;
            gap: rem(8);

            span {
              font-size: 0.81rem;
              font-weight: 500;
              position: relative;
              display: flex;
              align-items: center;
              gap: rem(8);

              &:not(:last-child)::after {
                content: "";
                display: inline-block;
                width: rem(4);
                height: rem(4);
                border-radius: 50%;
                background-color: $c-sub-white;
                opacity: 0.5;
              }
            }
            .badge {
              &.ing {
                background-color: $c-point-orange;
                color: $c-sub-white;
              }
            }
          }
        }
        & + li.routine {
          margin-top: rem(8);
        }
      }
    }
  }
  .btn-wrap {
    position: fixed;
    // bottom: calc(4.68rem + 1.5rem);
    bottom: 0;
    padding: 0 rem(24) 6.18rem;
  }
}
