@use "@styles/variables" as *;

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(32);
    text-align: center;
    .text-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: rem(20);
      h6 {
        font-size: rem(16);
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
      .logo {
        width: 9.38rem;
        height: rem(32);
      }
    }
  }
  .btn-white {
    background: $c-sub-white;
    color: $c-primary-blue-dark;
    display: flex;
    align-items: center;
    gap: rem(4);
    font-size: rem(16);
    font-style: normal;
    font-weight: 700;

    .icon-google {
      width: 1.125rem;
      height: 1.125rem;
      aspect-ratio: 1/1;
    }
  }
}
