@use "sass:map";
@use "@styles/variables" as *;

.mypage {
  .greeting {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 0 rem(24);

    .msg {
      font-size: rem(20);
      p {
        font-size: 0.875rem;
        font-weight: 400;
        margin-bottom: rem(8);
      }
      strong {
        font-weight: 600;
      }
    }
    .profile-img {
      width: 3.125rem;
      height: 3.125rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 1px solid $c-sub-gray;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .menu-wrap {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    .menu {
      display: flex;
      align-items: center;
      gap: rem(8);
      padding: rem(16) rem(24);
      color: $c-sub-white;
      background: $c-primary-blue-dark-light;
      border-radius: rem(8);
      font-size: 0.875rem;
      font-weight: 600;
    }
  }

  .terms {
    margin: rem(24) 0 rem(16) 0;
    font-size: rem(12);
    color: $c-sub-gray;

    a {
      color: $c-sub-gray;
      text-decoration: underline;
    }

    .divider {
      margin: 0 rem(8);
    }
  }

  .btn-logout {
    display: block;
    width: 100%;
    text-align: center;
    font-size: rem(12);
    margin: rem(24) 0;
    color: $c-primary-blue-light;
  }
}

//하위메뉴
.mypage-page {
  .btn-withdraw {
    display: block;
    width: 100%;
    text-align: center;
    font-size: rem(12);
    margin: rem(24) 0;
    color: $c-primary-blue-light;
  }

  &#profile {
    section {
      &.profile-section {
        margin-bottom: rem(32);
        display: flex;
        align-items: center;
        justify-content: center;
        .thumb-wrap {
          display: block;
          border-radius: 50%;
          // overflow: hidden;
          width: 6.25rem;
          height: 6.25rem;
          aspect-ratio: 1/1;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          border: 1px solid $c-sub-gray;
          position: relative;
          .btn-file {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 1.5625rem;
            height: 1.5625rem;
            padding: 0;
            color: $c-sub-white;
            background: $c-sub-gray;
            aspect-ratio: 1/1;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            input[type="file"] {
              position: absolute;
              width: 0;
              height: 0;
              padding: 0;
              overflow: hidden;
              border: 0;
            }
          }
        }
      }
      &.info-section {
        margin-bottom: rem(24);
        label {
          display: block;
          margin-bottom: rem(16);
        }
        .label-title {
          font-size: 0.875rem;
          display: block;
          font-weight: 400;
          margin-bottom: rem(8);
        }
        .input-with-icon {
          position: relative;
          display: flex;
          align-items: center;

          .icon-google {
            position: absolute;
            left: rem(24);
            width: 20px;
            height: 20px;
          }
          input[type="text"] {
            padding-left: calc(rem(24) + 20px + rem(8));
          }
        }
      }
    }
  }

  input[type="text"] {
    // height: 2.4375rem;
    // padding: rem(12) rem(16);
    // font-size: 0.875rem;
    font-weight: 500;
    background: $c-primary-blue-dark-modal;
  }

  &#gyms {
    .category-wrap {
      padding: 0;
    }

    .gyms-list {
      li {
        border-radius: 0.4rem;
        cursor: pointer;

        &.selected {
          background-color: $c-primary-blue-dark-light;
        }
      }
    }
    .gyms-wrap {
      margin-top: 1.8rem;
      .gyms {
        padding: rem(8);
        display: grid;
        grid-template-columns: auto auto 1fr;
        align-items: center;
        gap: rem(16);

        .thumb {
          display: flex;
          width: rem(64);
          height: rem(64);
          padding: rem(8);
          justify-content: center;
          align-items: center;
          aspect-ratio: 1/1;
          color: $c-sub-gray;
          background-color: #272c34;
          border-radius: 0.4rem;
        }

        .info {
          .title {
            gap: rem(4);
            display: flex;
            align-items: center;
            gap: rem(4);
          }

          .name {
            font-size: rem(16);
            font-weight: 600;
          }

          .badge {
            &.busy {
              background-color: $c-point-orange;
              color: $c-sub-white;
            }
            &.normal {
              background-color: $c-primary-blue;
              color: $c-sub-white;
            }
            &.free {
              color: $c-primary-blue;
              background-color: $c-primary-navy-lightest;
            }
          }

          .address {
            font-size: rem(12);
            font-weight: 400;
            color: $c-sub-gray;
            word-break: keep-all;
            margin-top: rem(4);
            line-height: 140%;
          }
        }

        .icon-drag {
          width: 1.125rem;
          height: 1.125rem;
          aspect-ratio: 1/1;
        }
      }
    }
  }

  &#favorites {
    .equipment-wrap {
      margin-top: rem(8);
    }
  }
}
