@use "sass:map";
@use "@styles/variables" as *;

.pushlist-page {
  .container {
    padding: 0 rem(24);
  }
  .push-wrap {
    .top {
      font-size: rem(13);
      font-weight: 500;
      margin-bottom: rem(8);
    }
    .push-list-wrap {
      display: flex;
      flex-direction: column;
      gap: rem(8);

      .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: rem(8);
        padding: rem(16) rem(24);
        border-radius: rem(8);
        background: $c-primary-blue-dark-light;

        &.read {
          background: $c-primary-blue-dark;
          opacity: 0.4;
        }

        .state {
          display: flex;
          align-items: center;
          gap: rem(8);

          .badge {
            &.push-res {
              color: $c-sub-white;
              background-color: $c-point-orange;
            }
            &.push-reser {
              color: $c-sub-white;
              background-color: $c-primary-blue;
            }
            &.push-break {
              color: $c-primary-blue;
              background-color: $c-primary-blue-light;
            }
          }
          .time {
            font-size: rem(12);
            font-weight: 500;
            color: $c-primary-blue-light;
          }
        }
        .msg {
          font-size: 0.875rem;
          font-weight: 500;
          color: $c-sub-white;
        }
      }
    }
    .bottom-notice {
      margin: 1.4rem 0;
      width: 100%;
      font-size: rem(12);
      text-align: center;
      font-weight: 500;
      color: $c-primary-blue-light;
    }
  }
}
