@use "@styles/variables" as *;

.reservation-page {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .content-scroll {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: calc(3rem + 3rem);
  }
  section {
    padding: 0 1.5rem;

    .search-bar {
      height: 3rem;

      input[type="search"] {
        background-color: $c-primary-blue-dark-light;
      }
      input[type="search"]::placeholder {
        color: $c-sub-white;
      }
    }

    .equipment-wrap {
      margin-top: 1.8rem;

      .top {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
        margin-bottom: 1rem;
      }

      li {
        border-radius: 0.4rem;
        cursor: pointer;

        &.selected {
          background-color: $c-primary-blue-dark-light;
        }
      }
    }
  }

  .category-wrap {
    padding: 0 1.5rem;
    margin-top: 1rem;
    height: 2rem;
    display: flex;
    overflow-x: scroll;

    button {
      flex: 0 0 auto;
      height: 2rem;
      padding: 0.5rem;
      color: $c-sub-white;
      background-color: $c-primary-blue-dark-light;
      border-radius: 0.5rem;
      font-size: 0.875rem;
      display: flex;
      align-items: center;

      & + button {
        margin-left: 0.5rem;
      }
      &.active {
        background-color: $c-primary-blue;
      }
    }
  }
}
