@use "sass:map";
@use "@styles/variables" as *;

// 예약중, 운동중
.workout-page {
  height: 100%;

  .header-top {
    display: flex;
    padding: 0 map.get($spacing, 6);

    .btn-side {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      color: $c-sub-gray;
    }
  }
  &#booking .header-top {
    justify-content: space-between;
  }
  &#exercising .header-top {
    justify-content: flex-end;
  }
  .container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 map.get($spacing, 6);
    position: relative;

    .text-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      h6 {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }
      h1 {
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }
      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }
    }
  }
  &#booking .text-wrap {
    h1 {
      color: $c-point-orange;
    }
    p {
      .waiting-user {
        color: $c-point-orange;
      }
    }
  }
  &#exercising .text-wrap {
    h1 {
      color: $c-primary-blue-light;
    }
    p {
      .lucide-circle {
        color: $c-sub-gray;
      }
      .lucide-circle-check {
        color: $c-primary-blue-light;
      }
    }
  }
}

// 운동완료
.workout-complete-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  height: 100%;

  .complete-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;

    .icon-motion {
      width: 5rem;
      height: 5rem;
      margin-bottom: 1rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    h1 {
      color: $c-sub-white;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 140%;
    }

    p {
      color: $c-primary-blue-light;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 140%;
    }
  }

  .complete-time {
    width: 100%;
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    border-radius: 0.5rem;
    background: $c-primary-blue-dark-light;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    strong {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 140%;

      svg {
        width: 1rem;
        height: 1rem;
        aspect-ratio: 1/1;
      }
    }

    span {
      font-size: 1rem;
      font-weight: 400;
      line-height: 140%;

      &#exercise-time {
        color: $c-point-orange;
      }
    }

    & + li {
      margin-top: 1rem;
    }
  }
}
