@use "sass:map";
@use "@styles/variables" as *;

// 예약중, 운동중, 휴식타이머
.workout-page {
  height: 100%;

  .container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(24);
    position: relative;

    .text-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem(8);
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      h1 {
        font-size: rem(20);
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }
      .timer-text {
        font-size: rem(80);
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }
      p,
      .set-count {
        display: flex;
        align-items: center;
        gap: rem(8);

        font-size: rem(16);
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }
    }
  }
  &#booking .text-wrap {
    .timer-text {
      color: $c-point-orange;
    }
    p {
      .waiting-user {
        color: $c-point-orange;
      }
    }
  }
  &.exercising .text-wrap {
    .timer-text {
      color: $c-primary-blue-light;
    }
    .set-count {
      .lucide-circle {
        color: $c-sub-gray;
      }
      .lucide-circle-check {
        color: $c-primary-blue-light;
      }
    }
  }

  &.breaktimer {
    .text-wrap {
      .set-count {
        .lucide-circle {
          color: $c-sub-gray;
        }
        .lucide-circle-check {
          color: $c-point-orange;
        }
      }
    }
    .btn-wrap {
      .btn-gray {
        width: rem(48);
        aspect-ratio: 1/1;

        &:disabled {
          opacity: 0.4;
        }
      }
    }
  }
}

.workout-page.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

.workout-page.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 2s linear;
}
