@use "@styles/variables" as *;

// 운동완료
.workout-complete-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(40);
  height: 100vh;

  .complete-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(8);
    text-align: center;

    .icon-motion {
      width: rem(80);
      height: rem(80);
      margin-bottom: rem(16);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    h1 {
      color: $c-sub-white;
      font-size: rem(24);
      font-weight: 700;
      line-height: 140%;
    }

    p {
      color: $c-primary-blue-light;
      font-size: rem(16);
      font-weight: 500;
      line-height: 140%;
    }
  }

  .complete-time {
    width: 100%;
    display: flex;
    padding: rem(16) rem(16);
    flex-direction: column;
    align-items: flex-start;
    gap: rem(12);
    border-radius: rem(8);
    background: $c-primary-blue-dark-light;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    strong {
      display: flex;
      align-items: center;
      gap: rem(4);
      font-size: rem(16);
      font-weight: 700;
      line-height: 140%;

      svg {
        width: rem(16);
        height: rem(16);
        aspect-ratio: 1/1;
      }
    }

    span {
      font-size: rem(16);
      font-weight: 400;
      line-height: 140%;

      &#exercise-time {
        color: $c-point-orange;
      }
    }

    & + li {
      margin-top: rem(16);
    }
  }
}
