@use "sass:map";
@use "@styles/variables" as *;

body {
  background-color: $c-primary-blue-dark;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  color: white;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

input {
  width: 100%;
  background: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  color: $c-sub-white;
}

input[type="search"],
input[type="text"] {
  height: 3rem;
}

button {
  box-shadow: none;
  border: none;
  background: none;
}

.container {
  padding: 0 1.5rem 4.6875rem;
}

.content-scroll {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: map.get($spacing, 24);
}
