@use "sass:map";
@use "@styles/variables" as *;

body {
  background-color: $c-primary-blue-dark;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  color: white;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $c-sub-white;
}

button {
  background: none;
  border: none;
}

input {
  width: 100%;
  background: none;
  border: none;
  border-radius: rem(8);
  padding: rem(8) rem(16);
  box-sizing: border-box;
  color: $c-sub-white;
  font-size: rem(12);

  &::placeholder {
    color: $c-sub-gray !important;
  }
  &:disabled {
    color: $c-sub-gray;
  }

  &:focus {
    outline: none;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &[type="search"] {
    -webkit-appearance: textfield;
    appearance: textfield;
  }
  &[type="search"],
  &[type="text"] {
    height: 2.25rem;
  }
}

button {
  box-shadow: none;
  border: none;
  background: none;
}

.container {
  padding: 0 rem(24) 4.6875rem;
}

.content-scroll {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: rem(96);
}

.badge {
  height: rem(20);
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.7rem;
  border-radius: rem(4);
  padding: 0 rem(8);
  text-align: center;
}

.search-bar {
  position: relative;

  input[type="search"] {
    background-color: $c-primary-blue-dark-light;
  }
  .btn-search {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-sub-white;
    padding: rem(8) rem(16);
    background-color: $c-primary-blue-dark-light;
    border-radius: rem(8);
  }
}

.category-wrap {
  padding: 0 rem(24);
  margin-top: rem(16);
  height: rem(32);
  display: flex;
  overflow-x: scroll;

  button {
    flex: 0 0 auto;
    height: rem(32);
    padding: rem(8);
    color: $c-sub-white;
    background-color: $c-primary-blue-dark-light;
    border-radius: rem(8);
    font-size: rem(12);
    display: flex;
    align-items: center;

    & + button {
      margin-left: rem(8);
    }
    &.active {
      background-color: $c-primary-blue;
    }
  }
}
.btn-like {
  display: flex;
  align-items: center;
  gap: rem(4);
  font-weight: 600;
  // background: $c-sub-white !important;
  // color: $c-primary-blue !important;
  .lucide-star {
    // color: $c-primary-blue !important;
    fill: $c-sub-white !important;
  }
}

.lucide-star {
  color: $c-sub-white;
  cursor: pointer;
  transition: fill 0.3s ease;
  &.on {
    fill: $c-sub-white;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
