@use "@styles/variables" as *;

body {
  background-color: $c-primary-blue-dark;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  color: white;
  padding-top: 2.75rem;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

input {
  width: 100%;
  background: none;
  border: none !important;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: $c-sub-white;
}

input[type="search"] {
  height: 3rem;
}

.container {
  padding: 0 1.5rem 4.6875rem;
}
