@use "@styles/variables" as *;

.btn-wrap {
  display: flex;
  justify-content: center;
  gap: 0.375rem;

  width: 100%;
  padding: 0 rem(24) rem(24);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: linear-gradient(
    to bottom,
    rgba(39, 44, 52, 0) 0%,
    rgba(39, 44, 52, 0.8) 100%
  );
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: rem(48);
  border-radius: rem(8);

  font-size: rem(16);
  font-weight: 600;
  line-height: 140%;
  opacity: 1;

  &.btn-orange {
    background: $c-point-orange;
    color: $c-sub-white;
  }
  &.btn-blue {
    background: $c-primary-blue;
    color: $c-sub-white;
  }
  &.btn-gray {
    background: $c-sub-gray;
    color: $c-sub-white;
  }
  &.disabled {
    opacity: 0.4;
  }

  &-icon {
    width: rem(44);
    height: rem(44);
    color: $c-sub-white;
  }
}
