@use "@styles/variables" as *;

.MuiDrawer-root {
  .MuiPaper-root.MuiDrawer-paper {
    background-color: $c-primary-blue-dark;
    border-radius: 0.75rem 0.75rem 0 0;

    .modal-contents {
      .title {
        font-size: 1.125rem;
        font-weight: 600;
        text-align: center;
        padding: 1.5rem;
        line-height: 1.4rem;
        color: $c-sub-white;

        .text-orange {
          color: $c-point-orange;
        }
      }
    }
    .btn-wrap {
      position: relative;
    }
  }
}

/* MUI Drawer 포커스 경고 해결 */
.MuiDrawer-root[aria-hidden="true"] *:focus,
.MuiDrawer-root[aria-hidden="true"] *:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.MuiDrawer-root[aria-hidden="true"] {
  pointer-events: none !important;
}

.MuiDrawer-root[aria-hidden="true"] button {
  pointer-events: none !important;
}
