@use "@styles/variables" as *;

.equipment {
  padding: 0.5em;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 1rem;

  img {
    flex: 0 0 4em;
    height: 3rem;
    background-color: #272c34;
    border-radius: 0.4rem;
  }

  .info {
    & > div {
      display: flex;
      align-items: center;
    }
    .title {
      gap: 0.25rem;
    }

    .name {
      font-size: 1rem;
    }

    .status {
      font-size: 0.7rem;
      margin-top: 0.6em;
      color: $c-primary-blue-light;

      display: flex;
      gap: 0.5rem;

      &.waiting {
        color: $c-point-orange;
      }

      &.available {
        color: $c-primary-blue-light;
      }
      & span:not(:last-child)::after {
        background-color: $c-point-orange;
      }

      .badge {
        &.waiting {
          color: $c-sub-white;
          background-color: $c-point-orange;
        }
        &.complete {
          color: $c-sub-white;
          background-color: $c-primary-blue;
        }
      }

      span {
        display: flex;
        align-items: center;

        &.dot {
          width: 0.25rem;
          height: 0.25rem;
          border-radius: 50%;
          background-color: $c-sub-white;
          opacity: 0.5;
        }
      }
    }
  }

  .icon-drag {
    width: 1.125rem;
    height: 1.125rem;
    aspect-ratio: 1/1;
  }
}
