@use "@styles/variables" as *;

.equipment {
  padding: 1em;
  display: flex;
  align-items: center;

  img {
    width: 4em;
    height: 4em;
    background-color: rgba(81, 78, 83, 0.5);
    border-radius: 0.4rem;
  }

  .info {
    margin-left: 1em;

    & > div {
      display: flex;
      align-items: center;
    }

    .name {
      font-size: 1rem;
    }

    .status {
      font-size: 0.7rem;
      margin-top: 0.6em;
      color: $c-primary-blue-light;

      &.waiting {
        color: $c-point-orange;
      }
    }
  }
}
