@use "@styles/variables" as *;

.equipment {
  padding: 0.5em;
  display: grid;
  grid-template-columns: rem(48) auto;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: $c-sub-white;

  .img {
    display: flex;
    width: rem(48);
    aspect-ratio: 1/1;
    background-color: $c-sub-white;
    border-radius: 0.4rem;
    overflow: hidden;
    // padding: rem(4);
    box-sizing: border-box;
  }
  img {
    width: 100%;
    height: 100%;
    max-width: rem(48);
    aspect-ratio: 1/1;
    object-fit: cover;
    // background-color: $c-primary-navy-lightest;
    border-radius: 0.4rem;
    opacity: 0;

    &.visible {
      transition: all 0.25s;
      opacity: 1;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: rem(4);
    & > div {
      display: flex;
      align-items: center;
    }
    .title {
      gap: 0.25rem;
    }

    .name {
      font-size: rem(18);
    }

    .status {
      font-size: rem(13);
      // margin-top: 0.6em;
      color: $c-primary-blue-light;
      min-height: 20px;
      display: flex;
      gap: 0.5rem;

      &.waiting {
        color: $c-point-orange;
      }

      &.available {
        color: $c-primary-blue-light;
      }
      & span:not(:last-child)::after {
        background-color: $c-point-orange;
      }

      .badge {
        &.waiting {
          color: $c-sub-white;
          background-color: $c-point-orange;
        }
        &.complete {
          color: $c-sub-white;
          background-color: $c-primary-blue;
        }
        &.myturn {
          color: $c-primary-blue;
          background-color: $c-primary-navy-lightest;
        }
      }

      span {
        display: flex;
        align-items: center;

        &.dot {
          width: 0.25rem;
          height: 0.25rem;
          border-radius: 50%;
          background-color: $c-sub-white;
          opacity: 0.5;
        }
      }
    }
  }

  .icon-drag {
    width: 1.125rem;
    height: 1.125rem;
    aspect-ratio: 1/1;
    color: $c-sub-white;
    padding: 0;
  }
}
