@use "sass:map";
@use "@styles/variables" as *;

.push-msg {
  position: fixed;
  top: rem(24);
  left: 50%;
  transform: translateX(-50%);
  padding: 0 rem(24);
  // padding: 0 map.get($spacing, 4);
  width: 100%;

  .msg {
    border-radius: rem(8);
    border: 1px solid $c-sub-gray;
    padding: rem(16);

    background: $c-primary-blue-dark-modal;
    color: $c-sub-white;
    text-align: center;
    font-size: rem(16);
    font-weight: 700;

    .waiting-user {
      font-weight: 700;
      color: $c-point-orange;
    }
  }
}
